nav > ul > li{
    display: flex;
    justify-content: space-around;
    display: inline;
    list-style: none;
}

nav li > a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px;
}
nav li > a:hover{
    background-color: red;
}

footer, a{
    text-align: center;
    text-decoration: none;
}