nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}

nav li > a:hover{
    background-color: red;
}

nav li > a{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px;
}

/* nested menu styles */